@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gigantic-text: 4.768rem;
    --jumbo-text: 3.815rem;
    --h1-text: 3.052rem;
    --h2-text: 2.441rem;
    --h3-text: 1.953rem;
    --h4-text: 1.563rem;
    --h5-text: 1.25rem;
    --small-text: 0.72rem;
    --smaller-text: 0.64rem;
    --smallest-text: 0.512rem;
    --main-color: rgb(0,32,91);
    --text-color: #0d0607;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 400;
    color: white;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    padding: 7rem;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: var(--h1-text);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {font-size: var(--h2-text);}

h3 {font-size: var(--h3-text);}

h4 {font-size: var(--h4-text);}

h5 {font-size: var(--h5-text);}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
}

.weather-data__condition {
    font-size: var(--h2-text);
}

.weather-data__city {
    font-weight: 500;
    margin-top: 0.5rem;
}

.weather-data__date {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: var(--small-text);
}

.weather-data__time {
    font-weight: 500;
    font-size: var(--small-text);
}

.weather-data__temp {
    font-size: var(--h1-text);
    font-weight: 700;
    margin-top: 1.5rem;
}

.weather-data__icon img {
    width: 100px;
    height: auto;
}

.weather-data__search-input {
    margin-top: 1.5rem;
}

#user-search {
    margin-top: 1rem;
    height: 30px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
    padding: 6px 12px;
}

.input-response {
    height: 100%;
    flex-shrink: 2;
    max-width: 150px;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #f5f5f5;
    font-weight: 600;
}

.input-response::placeholder {
    color: #fff; /* Custom color for the placeholder */
}

.input-response:focus {
    outline: none;
}

.weather-data__search-input__alert {
    margin-top: 0.5rem;
    font-size: var(--small-text);
    font-weight: 600;
}

.weather-data__search-input__alert-2 {
    margin-top: 0.2rem;
    font-size: var(--small-text);
    font-weight: 600;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-details__item {
    display: flex;
    gap: 10px;
}

.weather-details__item__icon span {
    font-size: var(--h2-text);
}

.weather-details__item__data__title {
    font-weight: 600;
    font-size: var(--small-text);
}

.weather-details__item__data__value {
    margin-top: 5px;
    font-weight: 600;
    font-size: var(--h4-text);
}